@import url("https://fonts.googleapis.com/css?family=Open+Sans|Pacifico");

:root {
  --color-white: #FFFFFF;
  --color-sea-buckthorn: #F9B129;

  --font-family-title: "Pacifico", cursive;
  --font-family-main: "Open Sans", sans-serif;

  --z-index-capture-button: 1;
  --z-index-menu-button: 1;
  --z-index-menu: 2;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: var(--font-family-main) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
